@{
    ViewBag.Title = "Contact";
}


<h2>Airport Contacts</h2>

<address>
    <strong>IT Support:</strong>   <a href="mailto:Support@example.com">ITSupport@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a><br />
    <strong>HR:</strong>   <a href="mailto:Support@example.com">HR@example.com</a><br />
    <strong>Maintenance:</strong> <a href="mailto:Marketing@example.com">Maintenance@example.com</a>
</address>