@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <!--<asp:Image ID="Image1" ImageUrl="Content/gatwickLogo.jpg" style="margin-left: 350px" Width="500px" />-->
    <img src="~/Content/gatwickLogo.jpg" style="margin-left: 350px; width:500px;" />
    <h2>You have now logged onto the system</h2>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Network Security</h2>
        <p>
           Text here
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Doors and Gates Security</h2>
        <p>Text Here.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Personal Security</h2>
        <p>Text here.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>