@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <!--<asp:Image ID="Image1" ImageUrl="Content/gatwickLogo.jpg" style="margin-left: 350px" Width="500px" />-->
    <img src="/Content/gatwickLogo.jpg" style="margin-left: 350px; width:500px;" />
    <h2>You have now logged onto the system</h2>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Network Security</h2>
        <p>
            <ul>
                <li><a href="#">User Login</a></li>
                <li><a href="#">Server Firewall</a></li>
                <li><a href="#">Newtwork Status</a></li>
            </ul>

        </p>
    </div>
    <div class="col-md-4">
        <h2>Doors and Gates Security</h2>
        <p>
            <ul>
                <li><a href="#">Door Map</a></li>
                <li><a href="#">Gate Map</a></li>
                <li><a href="#">Door and Gate Remote Control</a></li>
                <li><a href="#">User Door and Gate Access Control</a></li>
            </ul>

        </p>
    </div>
    <div class="col-md-4">
        <h2>Personnel Security</h2>
        <p>
            <ul>
                <li><a href="#">Personnel Account Details</a></li>
                <li><a href="#">Perosnnel Devices </a></li>
            </ul>
        </p>
    </div>
</div>
